// Skills.scss

.absolute-container-s {
    position: absolute;
    top: 150px;
    left: 200px;
  
    .heading-s {
        @apply text-white;
        font-size: 50px;
    
        &.text-animate {
          // Add styles for text animation
        }
    
        &.text-animate-hover:hover {
          // Add styles for text animation on hover
        }
      }
  
    .description-s {
      width: 500px;
      margin-bottom: 50px;
      margin-top: 30px;
  
     
    }
  }
  
  .slider-container {
    position: absolute;
    top: 250px;
    left: 900px;
    width: 300px;
  
   
  
    .slick-dots {
      display: none;
    }
  
    .img-s {
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
      // Add additional styles as needed
    }
  }
  
p{
    color: #fff;
}


  @media (min-width: 2000px) {
     .description-s p {
      font-size: 30px;
    }
    .slider-container{
        left: 1400px;
        width: 500px;
        top: 400px;
    }
    .absolute-container-s{
        left: 300px;
        top: 150px;
    }
    .img-s{
      margin-left: 50px;
      width: 400px;
    }
  }
  @media(max-width: 1300px){
    .description-s p{
      font-size: 20px;
    }
    .slider-container{
      left: 600px;
      top: 600px;
    }
    .absolute-container-s{
      left: 450px;
    }
  }
  @media(max-width:900px){
    .slider-container{
      left: 200px;
    }
    .absolute-container-s{
      left: 150px;
    }
  }
  @media(max-width: 1024px){
    .absolute-container-s{
      left: 60px;
      top: 100px;
    }
    .slider-container{
      top: 200px;
    }
    .img-s{
      width: 200px;
      margin-left: 50px;
    }
  }
  @media(max-width: 768px){
    .slider-container{
      top: 670px;
    }
  }
  @media(max-width: 426px){
    .absolute-container-s{
      left: 30px;
    }
    .slider-container{
      left: 120px;
      top: 640px;
      margin-bottom: 30px;
    }
  }
  
  
  
  
  