.home-page {
    .text-zone {
      position: absolute;
      left: 10%;
      top: 40%;
      transform: translateY(-50%);
      width: 40%;
      max-height: 90%;
    }
    .image-fade-enter {
      opacity: 0;
    }
    
    .image-fade-enter-active {
      opacity: 1;
      transition: opacity 1000ms ease-out; /* Cambiado a ease-out para una transición más suave */
    }
    
    .image-fade-exit {
      opacity: 1;
    }
    
    .image-fade-exit-active {
      opacity: 0;
      transition: opacity 1000ms ease-out; /* Cambiado a ease-out para una transición más suave */
    }
    
    h1 {
      color: #fff;
      font-size: 56px;
      line-height: 53px;
      margin: 0;
      font-family: 'Coolvetica';
      font-weight: 400;
  
      &:before {
        content: '<h1>';
        font-family: 'La Belle Aurore', cursive;
        color: #ffd700;
        font-size: 18px;
        position: absolute;
        margin-top: -40px;
        left: -15px;
        opacity: 0.6;
      }
  
      &:after {
        content: '<h1/>';
        font-family: 'La Belle Aurore', cursive;
        color: #ffd700;
        font-size: 18px;
        position: absolute;
        margin-top: 18px;
        margin-left: 20px;
        animation: fadeIn 1s 1.7s backwards;
        opacity: 0.6;
      }
  
      img {
        margin-left: 20px;
        opacity: 0;
        width: 32px;
        height: auto;
        animation: rotateIn 1s linear both;
        animation-delay: 1.4s;
      }
    }
  
    h2 {
      color: #8d8d8d;
      margin-top: 20px;
      font-weight: 400;
      font-size: 11px;
      font-family: sans-serif;
      letter-spacing: 3px;
      animation: fadeIn 1s 1.8s backwards;
    }
  
    .flat-button {
      color: #ffd700;
      font-size: 13px;
      font-weight: 400;
      letter-spacing: 4px;
      font-family: sans-serif;
      text-decoration: none;
      padding: 10px 18px;
      border: 1px solid #ffd700;
      margin-top: 25px;
      float: left;
      animation: fadeInAnimation 1s 1.8s backwards;
      white-space: nowrap;
  
      &:hover {
        background: #ffd700;
        color: #333;
      }
    }
  }
  .img-div{
    position: absolute;
    right: 15rem;
    top: 7rem;
  }
  .img{
    height: 500px;
    border-radius: 100%;
    width: 500px;
  }
  
  @media(min-width: 2050px) {
    .img-div{
      right: 400px;
      top: 200px;
    }
    .img{
      height: 800px;
    }
    .home-page{
      .text-zone{
        width: 60%;
      }
      h1{
        font-size: 80px;
      }
      h2{
        font-size: 20px;
      }
      .flat-button{
        font-size: 20px;
      }
    }
  }
  @media(max-width: 1024px){
    .img-div{
      left: 600px;
      top: 100px;
    }
    .img{
      height: 400px;
    }
    .home-page{
      .text-zone{
        top: 180px;
    }
  }
  }
  @media(max-width: 768px){
    .home-page{
      .text-zone{
        width: 600px;
        left: 200px;
      }
    }
  }
  @media(max-width: 476px){
    .home-page{
      .text-zone{
        top: 250px;
        width: 200px;
      }
      h1{
        font-size: 30px;
      }
    }
  }
  
