.section-c{
  position: absolute;
  left: 200px;
  top: 1rem;
}
.h1-c{
  color: #fff;
  font-size: 30px;
}
.p-c{
  width: 40%;
  color: #9ca3af;
}
.div-c{
  background-color: #000;
  width: 210px;
  position: absolute;
  z-index: 10;
  left: 1000px;
  top: 40px;
}
.li-c{
  color: #fff;
  padding: 4px;
  font-size: 15px;
}

.contact-form {
    width: 40%;
    margin-top: 60px;
  
    ul {
      padding: 0;
      margin: 0;
  
      li {
        padding: 0;
        margin: 0;
        list-style: none;
        margin-bottom: 10px;
        opacity: 0;
        overflow: hidden;
        display: block;
        clear: both;
        position: relative;
        animation: fadeInUp 2s 2s;
        animation-fill-mode: forwards;
      }
  
      li.half {
        width: 49%;
        margin-left: 2%;
        float: left;
        clear: none;
  
        &:first-child {
          margin-left: 0;
        }
      }
    }
  
    input[type='text'],
    input[type='email'] {
      width: 100%;
      border: 0;
      background: #115173;
      height: 50px;
      font-size: 16px;
      color: #fff;
      padding: 0 20px;
      box-sizing: border-box;
    }
  
    textarea {
      width: 100%;
      border: 0;
      background: #115173;
      height: 50px;
      font-size: 16px;
      color: #fff;
      padding: 20px;
      box-sizing: border-box;
      min-height: 150px;
    }
  
    .flat-button {
      color: #ffd700;
      font-size: 11px;
      letter-spacing: 3px;
      text-decoration: none;
      padding: 8px 10px;
      border: 1px solid #ffd700;
      float: left;
      border-radius: 4px;
      background: 0 0;
      text-transform: uppercase;
      float: right;
      text-align: center;
      margin-right: 10px;
    }
  }
  
  .map-wrap {
    background: rgba(8, 253, 216, 0.1);
    float: right;
    width: 53%;
    height: 115%;
    margin-top: -3%;
  }
  
  .leaflet-container {
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: backInRight 1s 1.2s;
    animation-fill-mode: forwards;
  }
  
  .info-map {
    position: absolute;
    background: #000;
    top: 50px;
    right: 30%;
    z-index: 999999;
    width: 267px;
    padding: 20px;
    color: #fff;
    font-family: 'Helvetica';
    font-size: 17px;
    font-weight: 300;
    opacity: 0;
    animation: fadeIn 1s 1.5s;
    animation-fill-mode: forwards;
  
    span {
      font-size: 16px;
  
      span {
        color: #ffd700;
      }
    }
  }
  



  @media(min-width: 1990px){
  .text-zone {
    position: relative;
    left: 400px;
    top: 200px;
  }

  .div-c {
    left: 1700px;
    top: 200px;
    width: 300px;
  }
  .li-c{
    font-size: 20px;
  }
  .h1-c{
    font-size: 60px;
  }
  .p-c{
    font-size: 25px;
  }
  .contact-form {
    input[type='text'],
    input[type='email']{
      font-size: 30px;
      width: 160%;
      height: 70px;
  }
  textarea{
    font-size: 30px;
    height: 70px;
  }
  .flat-button{
    font-size: 20px;
  }
}
}
@media(max-width: 1900px){
  .text-zone{
    margin-top: 100px;
    left: 50px;
  }
  .div-c{
    top: 100px;
    left: 1000px;
  }
}  
@media(max-width: 1024px){
  .div-c{
    left: 500px;
    top: 50px;
  }
  .text-zone{
    margin-top: 50px;
  }
}
@media(max-width: 769px){
  .div-c{
    width: 200px;
    left: 300px;
  }
  .text-zone{
    margin-left: -100px;
  }
  .contact-form{
    margin-top: 30px;
    textarea{
      height: 100px;
      min-height: 100px;
    }
  }
  
}
@media(max-width: 426px){
  .div-c{
    top: 130px;
    left: 120px;
  }
  .contact-form {
    input[type='text'],
    input[type='email']{
      font-size: 20px;
      width: 500px;
      height: 70px;
  }
  textarea{
    font-size: 20px;
    height: 70px;
  }
}
  .text-zone{
    margin-top: 100px;
    margin-left: -150px;
  }
}
  