

#home,
#proyects,
#skills,
#contact {
  position: relative;
  text-decoration: none; /* Añadido para quitar la subrayado predeterminado */

  &:after {
    content: '';
    font-size: 12px;
    letter-spacing: 2px;
    position: absolute;
    right: 15px;
    display: block;
    width: 100%;
    opacity: 0;
    transition: all 0.3s ease-out;
  }

  &:hover:after {
    opacity: 1;
  }
}

#home:hover:after {
  content: 'Home';
  right: 10px;
}

#proyects:hover:after {
  content: 'Projects';
}

#skills:hover:after {
  content: 'Skills';
  right: 10px;
}

#contact:hover:after {
  content: 'Contact';
}


.header {
  width: 100%;
  height: 60px;
  position: fixed;
  background-color: rgb(24 24 27);
  z-index: 1000000;
}

.nav {
  height: 60px;
  background-color: rgb(24 24 27);
  width: 100%;
  display: flex;
}

.ul-nav {
  margin-left: 3px;
  display: flex;
}
#ul1-n{
  display: flex;
  margin-left: 1000px;
}
.li-nav {
  font-size: 1.25rem;
  padding-left: 1rem;
  margin-left: 30px;
  margin-top: 20px;
}


.li2-nav {
  padding: 0.5rem;
  margin-left: 0.5rem;
  font-size: 1.25rem;
  margin-top: 15px;
}

.a-nav{
  color: rgb(75 85 99);
  font-size: 20px;
}
.a-nav:hover{
  color: #fff;
}

.navlink-nav {
  color: #718096; /* Reemplaza con el color de texto deseado */
}

.navlink-nav:hover {
  color: #ffd700; /* Reemplaza con el color de hover deseado */
}


.bars-cont{
  color: #fff;
  font-size: 30px;
  position: absolute;
  top: 10px;
  left: 25px;
  cursor: pointer;
  display: none;
}
.cerrar button{
  border: none;
  background: none;
  color: #fff;
  font-size: 30px;
  display: none;
}
@media(max-width: 3000px){
  #ul1-n{
    margin-left: 2000px;
  }
  .a-nav{
    font-size: 30px;
  }
  .li-nav{
    font-size: 30px;
  }
  .nav{
    height: 80px;
  }
}
@media(max-width: 1900px){
  .div-nav{
    top: 450px;
  }
  #ul1-n{
    margin-left: 900px;
  }
  .a-nav{
    font-size: 20px;
  }
  .li-nav{
    font-size: 20px;
  }
}
@media(max-width: 1024px){
  .bars-cont {/*copia*/
    display: block;
}
.header {
  width: 100%;
  height: 60px;
  background-color: rgb(24 24 27);

}
.cerrar button{ /*copia*/
    margin-left: 140px;
    margin-top: 10px;
    z-index: 100;
    display: block;
    color: #fff;
}
#nav{ /*copia*/
    position: absolute;
    opacity: 0;
    visibility: hidden;
    top: 0;
    width: 200px;
    height: 700px;
    background-color: rgb(24 24 27);
    justify-content: space-between;
    z-index: 100;
    transition: .8s ease;
    font-size: 60px;
    border-radius: 40px;
}
#nav.visible{ /*copia*/
    visibility: visible;
    opacity: 1;
  #ul-n{
      display: block;
      margin-left: -180px;
      margin-top: 60px;
      padding-top: 10px;
  }
}
#ul1-n{
  display: block;
  margin-left: -120px;
  margin-top: 300px;
} 
}
@media(max-width: 426px){
  .nav{
    height: 650px;
  }
  .header{
    height: 70px;
  }
  .bars-cont{
    font-size: 40px;
  }
  #nav{
    height: 690px;
  }
  .li-nav{
    font-size: 20px;
    padding-top: 5px;
  }
  .li2-nav i{
    font-size: 20px;
    padding-top: 5px;
  }
  #ul1-n{
    margin-top: 300px;
  }
}
@media(max-width: 376px){
  .nav{
    height: 1180px;
  }
  .li-nav{
    font-size: 20px;
    padding-top: 5px;
  }
  .li2-nav i{
    font-size: 20px;
    padding-top: 5px;
  }
  #ul1-n{
    margin-top: 320px;
  }
}
@media(max-width: 321px){
  .nav{
    height: 1390px;
  }
  .li-nav{
    font-size: 20px;
    padding-top: 5px;
  }
  .li2-nav i{
    font-size: 20px;
    padding-top: 5px;
  }
  #ul1-n{
    margin-top: 320px;
  }
}
  

  
  